.checkout-container{
    width:1100px;
    margin:40px auto;
    margin-top: 150px;
}

.checkout-title{
    font-size:28px;
    margin-bottom:25px;
}

.checkout-layout{
    display:flex;
    gap:30px;
}


/* ORDER SUMMARY */

.checkout-products{
    flex:2;
    background:#ffffff;
    padding:20px;
    border-radius:10px;
    border:1px solid #eee;
}

.checkout-products h3{
    margin-bottom:20px;
}

.checkout-item{
    display:flex;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.checkout-img{
    width:70px;
    height:70px;
    object-fit:cover;
}

.checkout-info{
    flex:1;
    margin-left:15px;
}

.checkout-name{
    font-weight:bold;
}

.checkout-qty{
    font-size:14px;
    color:#777;
}

.checkout-price{
    font-weight:bold;
    color:#333;
}



/* BILLING */

.billing-box{
    flex:1;
    background:#ffffff;
    padding:25px;
    border-radius:10px;
    border:1px solid #eee;
    box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

.billing-title{
    font-size:20px;
    margin-bottom:10px;
}

.checkout-user{
    font-size:13px;
    color:#777;
    margin-bottom:20px;
}


/* FORM */

.form-group{
    margin-bottom:18px;
}

.form-group label{
    display:block;
    font-weight:600;
    margin-bottom:6px;
}

.form-group input,
.form-group textarea{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:6px;
    font-size:14px;
}

.readonly-input{
    background:#f5f5f5;
    color:#555;
    cursor:not-allowed;
}

.form-note{
    font-size:12px;
    color:#888;
}

.form-group textarea{
    height:90px;
    resize:none;
}



/* TOTAL */

.checkout-total{
    margin-top:10px;
    margin-bottom:20px;
    font-size:18px;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
}

.checkout-total span{
    color:#ff4d4f;
}



/* BUTTON */

.place-order-btn{
    width:100%;
    padding:14px;
    background:#ff4d4f;
    border:none;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

.place-order-btn:hover{
    background:#e63b3d;
}