/* ===== Page Layout ===== */
.page-wrapper {
    padding: 40px;
    background: #f4f6f9;
    min-height: 100vh;
    margin-top:70px;
    margin-left:260px;
}

.page-title h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.page-title p {
    color: #777;
    margin-top: 5px;
    text-align: center;
}

/* ===== DASHBOARD CONTENT ===== */

.dashboard-content{

    padding:30px;

}


/* ===== GRID ===== */

.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(2, 1fr);

    gap:20px;

}


/* ===== CARD ===== */

.dashboard-card{

    display:flex;

    align-items:center;

    gap:20px;

    background:white;

    padding:20px 25px;

    border-radius:10px;

    box-shadow:0 4px 10px rgba(0,0,0,0.08);

    transition:0.25s;

}

.dashboard-card:hover{

    transform:translateY(-3px);

}


/* ===== ICON ===== */

.card-icon{

    font-size:30px;

    width:60px;

    height:60px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:10px;

}


/* COLORS */

.green{

    color:#1e8e3e;

}

.blue{

    color:#1a73e8;

}

.red{

    color:#e53935;

}

.black{

    color:#333;

}


/* ===== TEXT ===== */

.card-info{

    flex:1;

}

.card-title{

    font-size:14px;

    color:#666;

    margin-bottom:5px;

}

.card-number{

    font-size:26px;

    font-weight:700;

}