html, body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family:'Segoe UI',sans-serif;
    box-sizing:border-box; 
}

/* HEADER */


.admin-header{

    width:calc(100% - 266px);
    height:70px;
    background:#fff6f2;
    position:fixed;
    top:0;
    left:266px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
    border-bottom:2px solid #eeeeee; 
    box-sizing:border-box; 
    z-index: 1000;
}



/* LAYOUT */

.header-left,
.header-right{
    flex:1;
    display:flex;
    align-items:center;
}

.header-left{
    justify-content:flex-start;
    gap:20px;
}

.header-right{
    justify-content:flex-end;
    gap:20px;
}

/* NAV ITEM */

.nav-item{

    text-decoration:none;
    font-size:18px;
    font-weight:600;

    color:#333;

    padding:8px 12px;
    border-radius:6px;

    transition:0.2s;

}

.nav-item:hover{

    background:#ff3b2f;
    color:white;

}

/* WELCOME */

.welcome-box{
    font-size:18px;
    color:#555;
}

.role{
    color:#ff3b2f;
    font-weight:700;
}

.fullname{
    font-weight:600;
}

/* LOGOUT */

.logout-btn{

    padding:10px 20px;

    background:#ff3b2f;
    color:white;

    text-decoration:none;

    border-radius:6px;

    font-weight:bold;

    transition:0.2s;

}

.logout-btn:hover{

    background:#e63226;

}